@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* !Workbench */
#workbenchPageContent {
  max-width: 100%;
}

.ControlZone--emphasisBackground,
.CanvasZoneContainer {
  background-color: transparent !important;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}

/* .ToolbarButtonTooltip {
  display: none;
} */

.Canvas {
  margin: 0 !important;
}
/* !workbench */
.todo-list {
  background: #fff;
  font-size: 20px;
  width: 67rem;
  margin: auto;
  padding: 0.5rem 1rem;
  /* box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2); */
}
.todo {
  display: block;
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 4rem;
  margin: 0.6rem auto;
  cursor: pointer;
  /* border-bottom: solid 1px #ddd; */
  position: relative;
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.1);
}
.todo:hover {
  animation: moveup 0.3s;
}
@keyframes moveup {
  0% {
    transform: translateY(-0.5px);
  }
  25% {
    transform: translateY(-1px);
  }
  50% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(-0.5px);
  }
}
.todo:last-child {
  border-bottom: none;
}
.todo__state {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.todo__text {
  color: #135156;
  transition: all 0.4s linear 0.4s;
  font-size: 0.9rem;
}
.todo__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1rem;
  width: 100%;
  height: auto;
  margin: auto;
  fill: none;
  stroke: #0070c0;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.todo__line,
.todo__box,
.todo__check {
  transition: stroke-dashoffset 0.8s cubic-bezier(0.9, 0, 0.5, 1);
}
.todo__circle {
  stroke: #0070c0;
  stroke-dasharray: 1 6;
  stroke-width: 0;
  transform-origin: 13.5px 12.5px;
  transform: scale(0.4) rotate(0deg);
  animation: none 0.8s linear;
}
@keyframes explode {
  30% {
    stroke-width: 3;
    stroke-opacity: 1;
    transform: scale(0.8) rotate(40deg);
  }
  100% {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(1.1) rotate(60deg);
  }
}
.todo__box {
  stroke-dasharray: 56.1053, 56.1053;
  stroke-dashoffset: 0;
  transition-delay: 0.16s;
}
.todo__check {
  stroke: #0070c0;
  stroke-dasharray: 9.8995, 9.8995;
  stroke-dashoffset: 9.8995;
  transition-duration: 0.32s;
}
.todo__line {
  stroke-dasharray: 168, 1684;
  stroke-dashoffset: 168;
}
.todo__circle {
  animation-delay: 0.56s;
  animation-duration: 0.56s;
}

.todo__state:checked ~ .text-stike {
  display: block;
  animation-name: widthGrow;
  animation-duration: 0.8s;
}

.todo__state:checked ~ .todo__text {
  transition-delay: 0s;
  color: #8a8a8a;
  /* opacity: 0.6; */
  text-decoration: line-through;
  text-decoration-color: #0070c0;
  text-decoration-thickness: 3px;
}
.todo__state:checked ~ .todo__icon .todo__box {
  stroke-dashoffset: 56.1053;
  transition-delay: 0s;
}
.todo__state:checked ~ .todo__icon .todo__line {
  stroke-dashoffset: -8;
}
.todo__state:checked ~ .todo__icon .todo__check {
  stroke-dashoffset: 0;
  transition-delay: 0.48s;
}
.todo__state:checked ~ .todo__icon .todo__circle {
  animation-name: explode;
}
html {
  background: #ddd;
}
html {
  height: 100%;
  display: flex;
}
body {
  width: 100%;
  margin: auto;
}
.holiday-section {
  max-width: 20rem;
}
/* .holiday-section .nav-tabs {
  border-bottom: 0 !important;
} */
.holiday-section .nav-link {
  color: #383838 !important;
  font-size: 1rem;
}
.accordion-body {
  padding: 0 0.125rem !important;
}
.holiday {
  padding: 0.75rem;
  margin: 0.5rem 0;
  box-shadow: -1px 3px 11px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -1px 3px 11px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 3px 11px 2px rgba(0, 0, 0, 0.1);
}
.holiday-section .nav-tabs .nav-link {
  border: 0 !important;
}
.holiday-section .nav-tabs .nav-link:hover {
  border: 0 !important;
}
.holiday-section .nav-link.active:hover {
  border-bottom: 2px solid #004e8c !important;
}
.holiday-section .nav-link.active {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 2px solid #004e8c !important;
}
.holiday-section .nav-tabs {
  border-bottom: 0 !important;
}
#header-name
{
  color:#000000 !important;
}
/*
.holiday-section .nav-link.active,
.holiday-section .nav-tabs .nav-link.active:hover {
  border-color: #004e8c #004e8c #fff !important;
  border-radius: 0 !important;
} */
.holiday-section button.accordion-button {
  color: #004e8c;
  font-weight: bold;
  font-size: 14px;
}

.holiday-section .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.holiday-section .accordion-item:last-of-type {
  border-radius: 0 !important;
}
.holiday-section .accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0 !important;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.125); */
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.holiday-section .accordion-item {
  border: 0 !important;
}
.holiday-section .accordion {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}
/* div#myTabContent {
  border-left: 1px solid #004e8c;
  border-right: 1px solid #004e8c;
  border-bottom: 1px solid #004e8c;
  padding: 1rem 0.25rem 0.25rem;
} */
/* .holiday:first-child {
  margin-top: 0 !important;
} */

.nav-tabs .nav-link:hover {
  border-color: transparent !important;
}
.profile-cover {
  background: rgb(0, 77, 140);
  background: linear-gradient(
    90deg,
    rgba(0, 77, 140, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 2.5rem;
}
.profile-cover.Ravenclaw {
  /* background: linear-gradient(90deg, #0e1a40 35%, #946b2d 100%); */
  background: #0e1a40;
}
.profile-cover.Hufflepuff {
  /* background: linear-gradient(90deg, #ffd800 35%, #000000 100%); */
  background: #ffd800;
}
.profile-cover.Slytherin {
  /* background: linear-gradient(90deg, #1a472a 35%, #5d5d5d 100%); */
  background: #1a472a;
}
.profile-cover.Gryffindor {
  /* background: linear-gradient(90deg, #740001 35%, #d3a625 100%); */
  background: #740001;
}
.profile-cover.Ravenclaw #profileImage {
  background: #946b2d;
}
.profile-cover.Hufflepuff #profileImage {
  background: #000000;
}
.profile-cover.Slytherin #profileImage {
  background: #5d5d5d;
}
.profile-cover.Gryffindor #profileImage {
  background: #d3a625;
}
.section-employee img {
  position: relative;
  left: 1rem;
  top: 0.8rem;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 18px -1px #5f5f5fbf;
  -webkit-box-shadow: 2px 2px 18px -1px #5f5f5fbf;
  -moz-box-shadow: 2px 2px 18px -1px #5f5f5fbf;
}
.section-employee {
  width: 14rem;
}
.section-employee h5 {
  color: #004e8c;
  font-size: 1rem;
  width: 9rem;
}
.section-employee h6 {
  /* color: #707070; */
  color: #004e8c;
  font-size: 13px;
}
.section-employee .designation {
  color: #707070;
  font-size: 13px;
}
.UDetail p {
  color: #707070;
  font-size: 0.8rem;
  /* color: #004e8c; */
}
.c-img {
  width: 2rem;
  height: 2rem;
  padding: 4px;
  margin: 0.2rem;
  border: 1px solid #6e6e6e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-img:hover {
  background: #e4f3ff;
  cursor: pointer;
}
.c-linkedIn {
  width: 1rem;
  height: 1rem;
  background: url(../img/EmpLinkedIn.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.c-mail {
  width: 1rem;
  height: 1rem;
  background: url(../img/EmpMail.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.c-phone {
  width: 1rem;
  height: 1rem;
  background: url(../img/EmpPhone.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.UDetail {
  width: 4.7rem;
}
.team-section select,
.team-section input {
  border-radius: 0 !important;
  height: 30px !important;
  padding: 2px 8px !important;
  font-size: 0.9rem !important;
  /* width: 8rem; */
}

#profileImage {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: #0078d4;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin: 1rem;
  box-shadow: 2px 2px 18px -1px #5f5f5fbf;
  -webkit-box-shadow: 2px 2px 18px -1px #5f5f5fbf;
  -moz-box-shadow: 2px 2px 18px -1px #5f5f5fbf;
}
.emp-filter {
  width: 24rem;
}
.emp-filter label {
  min-width: 6rem;
}
button.btn.btn-sm.btn-danger.reset {
  padding: 3px 13px !important;
  background: #0078d4 !important;
  border: 1px solid #0078d4 !important;
}
